*{
    margin: 0;
    padding: 0;
}
#BODY{
    border-radius: 50pc;
    background:fixed;
    background-size: 75vw 85vh;
    
}
#topbar{
    background:linear-gradient(rgba(0, 0, 0, 0.722),rgba(97, 96, 96, 0));
    padding: 2px;
    border: 2px;
    border-radius: 15px;
    margin: 2px;
}
#div{
    height:100%;
    background:rgb(204, 194, 194);
}

#tx{
    background-color:rgb(248, 249, 250);
    border: solid rgb(148, 164, 168);
    margin-top:auto;
    margin-bottom:auto;
    margin-left: auto;
    width: 95%;
    height: 100pc;
    margin-right: auto;
    font-size: 20px;
    font-style: italic BOLD;
    border-radius: 2px;
}
#bw{
    background: linear-gradient(rgba(0, 0, 0, 0.216),rgba(255, 255, 255, 0.283),rgba(0, 0, 0, 0.701));
    height: auto;
    border-radius: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
    margin-right: 5px;
    color: rgba(43, 53, 48, 0.998);
}
#Note{
    font-style: italic;
    font-size: 40px;
    color:rgb(214, 16, 16);
    font: bold;
}
#submitButton{
    margin-top:20px;
    height: 30px;
    width: 90px;
    background:linear-gradient(rgba(0, 128, 0, 0.733),rgba(255, 255, 255, 0.576),rgba(0, 128, 0, 0.823));
    border-radius: 6px;
    margin-right: 5px;

}
#resetButton{
    height: 30px;
    width: 90px;
    background: linear-gradient(rgba(0, 0, 255, 0.615),rgba(205, 203, 212, 0.697),rgba(0, 0, 255, 0.648));
    border-radius: 6px;
    margin-right: 5px;
}
#deleteButton{
    height: 30px;
    width: 90px;
    background: linear-gradient(rgba(255, 0, 0, 0.85),rgba(255, 255, 255, 0.218),rgba(255, 0, 0, 0.694));
    border-radius: 6px;
    margin-right: 5px;
    font-style: bold;
    margin-bottom: 20px;
}
#searchButton{
    height: 30px;
    width: 90px;
    background: linear-gradient(rgba(34, 163, 206, 0.918),rgba(253, 254, 255, 0.737),rgba(25, 160, 194, 0.868));
    border-radius: 6px;
    margin-right: 5px;
    margin-bottom: 20px;
}
#searchBar{
    height: 40px;
    width: 370px;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-left:auto ;
    margin-top: 20px;
    background: linear-gradient(rgba(255, 255, 255, 0.242),rgba(247, 250, 247, 0.267),rgba(255, 255, 255, 0.275));
}
#login{
    float:right;
    background-color:aquamarine;
}
#learn{
    background-color: darkkhaki;
}
#rider_devil{
    background-color: burlywood;
}